<!DOCTYPE html>
<html>
  <head>
    <title>Meadowlark Travel</title>
    {{!-- {{{_sections.head}}} --}}
  </head>
  <body>
    {{{body}}}
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
				<button type="button" class="close" 
					data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>{{flash.intro}}</strong> {{{flash.message}}}
			</div>
    {{/if}}
    {{!-- <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{_sections.jquery}}} --}}
  </body>
</html>